body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .chat-box {
    height: 400px;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .message {
    margin: 5px;
    padding: 8px;
    background: #d9fdd3;
    border-radius: 8px;
  }
  
  input {
    padding: 10px;
    width: 70%;
  }
  
  button {
    padding: 10px;
  }
  